.drawers-box {
  width: 100%;
  height: 69px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // overflow: hidden;
  .Skills-button-content-container {
    background-color: yellow;
    width: 50%;
    height: fit-content;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    .Skills-btn {
      height: 70px;
      width: 100%;
    }
  }
  .SkillsPullup-isOpen {
    transform: translateY(-300px);
  }
  .Exp-button-content-container {
    background-color: pink;
    width: 50%;
    height: fit-content;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    .Exp-btn {
      height: 70px;
      width: 100%;
    }
  }
  .ExpPullup-isOpen {
    transform: translateY(-300px);
  }
}
